.debug {
    font-size: 5rem;
    width: 90rem;
    height: 53.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 2rem;
    }
}